# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""
DIRECT_URL=""

AUTH_SECRET=""

# Branding
BRAND=Poco

SALT=10

# Domain
REACT_APP_URL=http://localhost:3000

# Login providers
APPLE_CLIENT_ID=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Email providers
RESEND_API_KEY=""
VERIFICATION_SENDER=""

# AI
OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX=