KINDE_CLIENT_ID=ea7f4147405ad9a29b4d39d0b1e5b75b
KINDE_CLIENT_SECRET=ACiZn0kgcHorQeg8I432QIf4v1vrhrN4X22MeIwzyv2JoMbQv2Sj
KINDE_ISSUER_URL=https://phantom.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL format for Prisma:
# mysql://USERNAME:PASSWORD@aws.connect.psdb.cloud/poco?sslaccept=strict
# ADDITIONAL PRISMA CREDENTIALS:
# PRISMA_MAIN='2n32fai44--0m-y2-1izn2'

DATABASE_URL='mysql://j3946tvc9rmuvqf7i323:OB2h4EcTTgB_pOs62kjpseldwhnTjtjkm97aV_HVcwMYJ92k9e9Y0@aws.connect.psdb.cloud/poco?sslaccept=strict'

# File upload with Uploadthing
UPLOADTHING_SECRET=2_8eal5bbc15vb30fbs0dded0063bkd38e29804e3ie95dbecc8ea273739_9538bb653ba1
UPLOADTHING_APP_ID=862p3e1oli

# Branding
BRAND=Poco